body{
    font-family: 'Signika Negative', sans-serif;
    margin-block-end: 0;
}
.flexible-container{
    display: flex;
}
.half1{
    width: 50%;
    margin-bottom: 100px;
}
.half1 img{
    width: 100%;
    margin-right:50px;
    margin-top: 0%;
    padding: 10px;
}
.half1 h1{
    
    font-size: 80px;
}
#hightlight{
 color: #3636b6;
}
.order-button{
    text-decoration: none;
    background: linear-gradient(to bottom right, #003366 0%, #66ffff 100%);
    color:white;
    font-weight: 800;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius:30px;
}
.half2{
    width: 50%;
    margin-bottom: 50px;
 }

.half2 img{
    width: 600px;
    height: 750px;
    margin-left: 30px;
    margin-right:50px;
    margin-top: 0%;
    padding-left: 40px;
}
.half2 p{
    font-size: 30px;
    padding-left:10px ;
    padding-right:40px ;
}
.half2 h1{
    font-size:40px ;
    padding-top: 50px;
    padding-left: 10px;

}
.middel{
    background-image:url(images/Frame\ 56.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-button{
    text-decoration: none;
    background: linear-gradient(to bottom left, #9900ff 0%, #66ffcc 100%);
    color:white;
    font-weight: 800;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius:30px;