body{
    font-family: 'Signika Negative', sans-serif;
    margin-block-end: 0;
}
.flexible-container{
    display: flex;
}
.half1{
    width: 50%;
    margin-bottom: 100px;
}
.half1 img{
    width: 100%;
    margin-right:50px;
    margin-top: 0%;
    padding: 10px;
}
.half1 h1{
    font-size: 80px;
}
#hightlight{
 color: #3636b6;
}
.order-button{
    text-decoration: none;
    background: linear-gradient(to bottom right, #003366 0%, #66ffff 100%);
    color:white;
    font-weight: 800;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius:30px;
}
.half2{
    width: 50%;
    margin-bottom: 50px;
 }
.half2 img{
    width: 600px;
    height: 750px;
    margin-left: 30px;
    margin-right:50px;
    margin-top: 0%;
    padding-left: 40px;
}
.half2 p{
    font-size: 30px;
    padding-left:10px ;
    padding-right:40px ;
}
.half2 h1{
    font-size:40px ;
    padding-top: 50px;
    padding-left: 10px;
}
.middel{
    background-image:url(images/Frame\ 56.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-button{
    text-decoration: none;
    background: linear-gradient(to bottom left, #9900ff 0%, #66ffcc 100%);
    color:white;
    font-weight: 800;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius:30px;
}
.mid-title{
    text-align: center;
}
.mid-title h1{
    color: lightslategray;
}
.half3{
    width:100%;
    height: 100%;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 20px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
    border-radius: 30px;
    box-shadow: 20px 10px 40px #999595;
}
.half3 img{ 
    height: 380px;
    width: 370px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    border-radius: 30px;
}
.half3 h3{
    padding-left:10px ;
}
.half3 p{
    padding-left: 10px;
    padding-right: 10px;
}
.social-status{
    padding-left: 98px;
    margin-left: 20px;
    margin-right:20px ;
    border-radius: 20px;
     margin-bottom: 100px;
    box-shadow: 10px 10px 40px lightslategrey;
}
.social{
    padding-left: 200px;
    text-align: center;
}
.social h1{
    font-size: 40px;
    font-weight:900;
}
footer{
    text-align: center;
    background-color: #121424;
    padding-top: 10px;
    padding-bottom: 90px;

}
footer h3{
    font-size:30px ;
    color:dimgray
}
footer h6{
    color:floralwhite;
    font-size:18px ;
}